<header class="site-header">
    <ul>
        <li><a href="/" {% if page.url == '/' %}class="actual"{% endif %}>Hola!</a></li>
        <li><a href="/weblog/" {% if page.url contains '/weblog/' %}class="actual"{% endif %}>Mi blog</a></li>
        <li><a href="https://github.com/danilat" target="blank">Mi código</a></li>
    </ul>
    <div class="logo">
        <h1>
            <a href="/">
                <img src="/img/logo.png" alt="Dani Latorre">
            </a>
        </h1>
    </div>
</header>
