
<!DOCTYPE html>
<html class="no-js">
    {% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="super-container">
            <div class="container" id="container">
                <header class="site-header">
                    <ul>
                        <li><a href="http://www.danilat.com/weblog/">Mi blog</a></li>
                        <li><a href="https://github.com/danilat" target="blank">Mi código</a></li>
                        <li><a href="http://www.slideshare.net/danilat" target="blank">Mis presentaciones</a></li>
                    </ul>
                    <div class="logo">
                        <h1>
                            <a href="/">
                                <img src="/img/logo.png" alt="Dani Latorre">
                            </a>
                        </h1>
                    </div>
                </header>
                <div class="site-content">
                    <div class="site-content-left">
                      {{ content }}
                    </div><!-- .<!-- .site-content-left -->
                    <aside class="site-content-right" id="site-content-right">
                        <p>
                            <strong>Mi nombre es Dani Latorre. Soy un desarrollador de software independiente, actualmente trabajando en los <a href="http://codingstones.com/">Coding Stones</a>.</strong>
                        </p>
                        <p>
                            <strong>¿Hablamos?</strong><br />
                            Si quieres contactar para crear un producto o que ayudemos a tu equipo, puedes hacerlo enviándome un correo electrónico a <a href="mailto:dani@danilat.com" class="mail">dani@danilat.com</a></p><p> O en twitter: <a href="https://twitter.com/dani_latorre" target="blank">@dani_latorre</a>
                        </p>
                    </aside>
                </div><!-- .site-content -->

                <div class="clearfix"></div>

                {% include footer.html %}
            </div><!-- .container -->
        </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/js/main-minified.js"></script>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-918753-1";
urchinTracker();
</script>
<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
var sc_project=1723992;
var sc_invisible=0;
var sc_partition=16;
var sc_security="ce8c0613";
</script>
<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js"></script><noscript><a href="http://www.statcounter.com/" target="_blank"><img  src="http://c17.statcounter.com/counter.php?sc_project=1723992&java=0&security=ce8c0613&invisible=0" alt="web metrics" border="0"></a></noscript>
<!-- End of StatCounter Code -->
    </body>
</html>
