---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="entry-header">
    <h2>{{ page.title }}</h2>
    <div class="entry-meta">
			<time class="entry-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></a><span class="byline"> por Dani</span></span>
    </div>
  </header>

  <div class="entry-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% include disqus.html %}
